#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Custom CSS starts here */
.header {
    background-color: #004369;
    color: white;
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 150px;
    font-size: 12px;
}

nav a {
    color: #b4dbdc;
    padding: 0rem;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
}

nav a:hover {
    color: #b4dbdc;
    text-decoration: underline;
}

.sidebar {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fffbf0;
    padding: 1rem;

}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin: 0;
    padding: 2px;
}

.nav-but {
    color: #fffbf0;
    border-radius: 10px;
    background-color: #1b7895;
    width: 145px;
}

.nav-but:hover {
    color: #fffbf0;
    background-color: #004369;
    border-color: #004369;
    transition: background-color 0.3s ease;
    
}

