#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Custom CSS starts here */
.header {
    background-color: #004369;
    color: white;
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 0;
}

nav a {
    color: #b4dbdc;
    padding: 0rem;
    text-decoration: none;
}

nav a:hover {
    color: #b4dbdc;
    text-decoration: underline;
}

.sidebar {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fffbf0;
    padding: 1rem;

}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin: 0;
}

.sidebar a {
    color: #004369;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}
