#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Header */
.header {
    background-color: #004369;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    font-size: 12px;
    position: fixed;
    font-family: "Noto Sans", sans-serif;
    z-index: 999;
}

.head-but {
    background-color: #242424;
    color: #fffbf0;
}
.head-but:hover {
    border-color: #fffbf0;
    transition: border-color 0.3s ease;
}
nav a {
    color: #b4dbdc;
    padding: 0rem;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
}


/* Dashboard */
.dashboard {
    align: center;
    margin: 2rem auto;
}

.dashboard h2 {
    font-size: 2rem;
}

/* Tasks List */
.task-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    margin-top: 150px;
    align: center;
    border: 3px solid #fff1bf;
    border-radius: 2%;

}

.task-header h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.5rem;
    color: #fff1bf;
}

.task-items {
    display: flex;
    justify-content: space-between;
}
.task-input {
    flex: 1;
    margin-right: 5px;
    margin-bottom: 0.6rem;
    padding: 0.5rem 1rem;
    border: 2px solid #2a2e32; 
    border-radius: 5px;
    cursor: pointer;
    background-color: #2a2e32;
    color: #fff1bf;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.5s;
    outline: none;
}
.task-input:focus {
    border: 2px solid #fff1bf;

}
.task-button {
    background-color: #004369;
    color: #fff1bf;
    margin-bottom: 0.6rem;
    border: 2px solid #004369;
}
.task-button:hover {
    border: 2px solid;
    border-color: #fff1bf;
    transition: border-color 0.3s ease;
}

.task-items {
    display: flex;
    justify-content: space-between;
}
.task-input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 2px solid #2a2e32; 
    border-radius: 5px;
    cursor: pointer;
    background-color: #2a2e32;
    color: #fff1bf;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.2s;
    outline: none;
}
.task-input:focus {
    border: 2px solid #fff1bf;

}
.task-button {
    background-color: #004369;
    color: #fff1bf;
    border: 2px solid #004369;
}
.task-button:hover {
    border: 2px solid;
    border-color: #fff1bf;
    transition: border-color 0.3s ease;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin-bottom: 0.6rem;
    background-color: #242424;
    border: 2px solid #004369;
    border-radius: 6px;
    color: #fff1bf;
}

.task-item:hover {
    border-color: #fff1bf;
    transition: border-color 0.1s ease;
}

.task-item.completed .task-text {
    color: #7B563A;
    text-decoration: line-through;
}

.checkbox-wrapper {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    transform: scale(1.2);
}

.checkbox-wrapper input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

.custom-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #7b563a;
    border: 2px solid #7b563a;
    border-radius: 4px;
    transition: all 0.2s ease;

}

.custom-checkmark:hover {
    border: 2px solid;
    border-color: #fff1bf;
}

.checkbox-wrapper input:checked + .custom-checkmark {
    background-color: #7b563a;
    border-color: #fff1bf;
}

.custom-checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-wrapper input:checked + .custom-checkmark::after {
    display: block;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff1bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.task-text {
    font-size: 1.5rem;
    font-weight: 500;
    flex-grow: 1;
    position: relative;
    display: inline-block;
}

.delete {
    background-color: #1a1a1a;
    border: 2px solid;
    border-color: #1a1a1a;
}
.delete:hover {
    border: 2px solid;
    border-color: #fff1bf;
    transition: border-color 0.2s ease;
}
.trash {
    fill: #fff1bf;
    height: 24px;
    width: 24px;
}


/* Log */

.log-header {
    align: center top;
    height: 500px;
    width: 100vh;
}

.log-header h2 {
    font-size: 1.75rem;
    color: #fff1bf;
}


.log-entry {
    display: flex;
}

.log-input {
    flex: 1;
    margin-right: 5px;
    position: relative;
    padding: 0.5rem 1rem;
    background-color: #2a2e32;
    border: 2px solid #2a2e32;
    border-radius: 5px;
    color: #fff1bf;
    font-size: 1rem;
    transition: all 0.2s ease;
    outline: none;
    margin-bottom: 0.6rem;
    cursor: pointer;
}

.log-input:focus {
    border: 2px solid #fff1bf;
}


.log-button {
    background-color: #004369;
    margin-bottom: 0.6rem;
    color: #fff1bf;
    border: 2px solid #004369;
}
.log-button:hover {
    border: 2px solid;
    border-color: #fff1bf;
    transition: border-color 0.3s ease;
}

.log-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff1bf;
    background-color: #242424;
}

.log-list p {
    justify-content: space-between;
    background-color: #2a2e32;
    color: #E9EAE0;
    width: 90vh;
    text-align: left;
    padding: 5px 3px;
    border: 3px solid #444443;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.log-delete {
    width: 10vh;
    background-color: #1a1a1a;
    border: 2px solid;
    border-color: #1a1a1a;
    align: right;
}
.log-delete:hover {
    border: 2px solid;
    border-color: #fff1bf;
    transition: border-color 0.2s ease;
}
.trash {
    fill: #fff1bf;
    height: 24px;
    width: 24px;
}

.log-date {
    flex-shrink: 0;
    padding-right: 10px;
    color: #7b5369;
}
